    /*.navbar-brand img {*/
    /*width: 100px;*/
    /*}*/

.navbar-brand {
    height: 100px;
    transition: all 0.5s ease;
}

.navbar-brand img {
    height: 100px;
    transition: all 0.5s ease;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;

    font-weight: 400;
}


.navbar-nav > li.dropdown a {
    margin-bottom: 0;
}

.dropdown.open > .btn.btn-inverse {
    border: 2px solid #f4645f;

}

@media (max-width: 765px) {
    .navbar-brand img {
        height: 50px;
    }

    .navbar-brand {
        height: 80px;
    }

    .content {
        margin-top: 100px;
    }
}

.navbar-default {
    background: #fdfdfd;
    border: none;
    transition: all 0.2s;
}

.navbar.navbar-bg {
    background: #f1f1f1;
    border-bottom: 1px solid #f00;
}

.navbar.navbar-bg .navbar-brand {
    height: 80px;
}

.navbar.navbar-bg .navbar-brand img {
    height: 50px;
}

.avatar {
    width: 60px;
    height: 60px;
    vertical-align: top;
}

#examples h4 {
    width: 100%;
    border-bottom: 2px solid #f4645f;
    margin-bottom: 0;
    padding-bottom: 4px;

}

.assignment-inputs {
    list-style-type: none;
    padding: 0;
}

.assignment-inputs .form-control {
    display: inline-block;
    width: calc(100% - 30px);
    font-size: 12pt;
    font-weight: 200;
    padding: 3px 10px;
}

/*.btn.btn-inverse {*/
/*color: #fff !important;*/
/*}*/
/**/
/*.btn.btn-inverse {*/
/*background-color: #f4645f;*/
/*color: #fff;*/
/*text-transform: uppercase;*/
/*}*/

.row-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.row-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}


